.my_profile
  .my_content
    %p
      %img
    .my_content__profile{ id: "profile" }
      %header
        %h2
          profile
          %span
      %img(src="#{@user.profile_img}" alt="profile_image" class="img-thumbnail")
      %p #{@user.name}
      .my_content__profile--introduction
        = @user.introduction
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')

    .my_content__friends{ id: "friend" }
      %header
        %h2
          friend
        = link_to users_path do
          index
        %br
        %span.follow-wrapper{:id => "user_#{@user.id}"}
        = render 'follow_form', user: @user if signed_in?
        %h4
        = render 'users/stats'
        %br
      .my_content__friends--area
    .my_content__movie_ranking{ id: "movie_ranking" }
      %h2
        my_movie_ranking
        .new_btm
          = link_to my_rankings_path , class: "btn btn-primary" do
            一覧画面へ移動
      .ranking_area
        %ul
          - @user.MyRankings.each.with_index(1) do |myrank, i|
            %li
              .rank
                = link_to myrank, class: "new_btn" do
                  #{i}位 #{myrank.title} 
    .my_content__review{ id: "review" }
      %header
        %h2
          review
        %h2
          .new_btm
            = link_to movies_search_path, class: "btn btn-primary" do
              レビューする
      %ul
        - @posts.each do |post|
          %li
            .li_content
              %img(src= "https://image.tmdb.org/t/p/w200/#{post.poster_path}" alt= "poster")
              %p
                = link_to  post_path(post.id), class: "content__right__top--title" do
                  = post.title
      = link_to posts_path, class: "btn btn-primary" do
        レビュー一覧

    .my_content__message{ id: "message" }
      %header
        %h2
        = link_to messages_path do
          message
        %ul
          - @user.groups.each do |group|
            %li
              .li_content
                %img(src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
                %p
                  = link_to group_messages_path(group) do
                    = group.name
                  %br
                  = group.show_last_message