.my_profile
  -# .my_sidebar
  -#   .my_sidebar__Wrap
  -#     %h1
  -#       %img
  -#     .mainnav
  -#       %p.menuWrap
  -#       .panel
  -#         %ul
  -#           %li
  -#             = link_to edit_user_path(current_user) do
  -#               = icon('fas', 'cog', class: 'icon')
  -#           %li
  -#             = link_to "#profile" do
  -#               profile
  -#           %li
  -#             = link_to "#movie_ranking" do
  -#               movie_ranking
  -#           %li
  -#             = link_to "#review" do
  -#               review
  -#           %li
  -#             = link_to "#message" do
  -#               message
  -#           %li
  -#             = link_to "#friend" do
  -#               friend

  .my_content
    %p
      %img
    .my_content__profile{ id: "profile" }
      %header
        %h2
          profile
          %span
      %img(src="#{current_user.profile_img}" alt="profile_image")
      %p #{current_user.name}
      .my_content__profile--introduction
        = current_user.introduction
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'icon')
    .my_content__movie_ranking{ id: "movie_ranking" }
      %h2
        my_movie_ranking
        .new_btm
          = link_to my_rankings_path , class: "new_btn" do
            一覧画面へ移動
      .ranking_area
        %ul
          - current_user.MyRankings.each.with_index(1) do |myrank, i|
            %li
              .rank
                = link_to myrank, class: "new_btn" do
                  #{i}位 #{myrank.title} 
    .my_content__review{ id: "review" }
      %header
        %h2
          review
        %h2
          .new_btm
            = link_to new_post_path, class: "new_btn" do
              新規投稿
      %ul
        - @posts.each do |post|
          %li
            .li_content
              %img(src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
              %p
                = link_to  post_path(post.id), class: "content__right__top--title" do
                  = post.title

    .my_content__message{ id: "message" }
      %header
        %h2
        = link_to messages_path do
          message
        %ul
          - current_user.groups.each do |group|
            %li
              .li_content
                %img(src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
                %p
                  = link_to group_messages_path(group) do
                    = group.name
                  %br
                  = group.show_last_message

    .my_content__friends{ id: "friend" }
      %header
        %h2
          friend
      .my_content__friends--area
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")
        .friend_img
          %img(src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="movie review")


