.my_profile
  .my_content
    %p
      %img
    .my_content__profile{ id: "profile" }
      %header
        %h2
          profile
          %span
      %img(src="#{@user.profile_img}" alt="profile_image" class="img-thumbnail")
      %p #{@user.name}
      .my_content__profile--introduction
        = @user.introduction
      - if @user.id == current_user.id 
        = link_to edit_user_path(current_user) do
          プロフィールを編集する
          = icon('fas', 'cog', class: 'icon')

    .my_content__friends{ id: "friend" }
      %h2
      %span.follow-wrapper{:id => "user_#{@user.id}"}
        = render 'follow_form', user: @user if signed_in?
        %h4
        = render 'users/stats'

    .my_content__movie_ranking{ id: "movie_ranking" }
      %h2
        マイムービーランキング
        - if @user.id == current_user.id 
          .btn_area
            = link_to my_rankings_path , class: "btn btn-primary" , data: {"turbolinks" => false} do
              マイムービーランキングを設定する
      .ranking_area
        %ul
          - @user.MyRankings.each.with_index(1) do |myrank, i|
            %li
              .rank
                = link_to myrank, class: "new_btn" do
                  #{i}位 #{myrank.title} 


    .my_content__review{ id: "review" }
      %h2
        レビュー
      .btn_area
        = link_to posts_path(user: @user.id), class: "btn btn-primary" do
          すべてのレビューを見る
        - if @user.id == current_user.id 
          -# .new-review-btn
          = link_to movies_search_path, class: "btn btn-primary new-review-btn" do
            レビューする
      %ul
        - @posts.last(5).each do |post|
          %li
            .li_content
              = link_to  post_path(post.id), class: "content__right__top--title" do
                %img(src= "https://image.tmdb.org/t/p/w200/#{post.poster_path}" alt= "poster")
                %p
                %div{id: "star-rate-#{post.id}"}
                %p
                = post.title
                :javascript
                  $('#star-rate-#{post.id}').raty({
                    size: 36,
                    starOff:  '#{asset_path('star-off.png')}',
                    starOn : '#{asset_path('star-on.png')}',
                    starHalf: '#{asset_path('star-half.png')}',
                    half: true,
                    readOnly: true,
                    score: #{post.rate},
                  });
    - if @user.id == current_user.id 
      .my_content__message{ id: "message" }
        %h2
          メッセージする
        = link_to new_group_path ,class: "btn btn-primary" do
          メッセージグループを作成する
          = icon('far', 'edit', class: 'side-header__box__btn--edit')
        %ul
          - @user.groups.each do |group|
            %li
              .li_content.card
                .card-body
                  グループ名：
                  = link_to group_messages_path(group) do
                    = group.name
                  %p.card-text
                    最終メッセージ：
                    = group.show_last_message
                  %p.card-text
                    メンバー
                  - group.users.each do |user|
                    %img(src="#{user.profile_img}" alt="profile_image" class="img-thumbnail")
