.content
  .content__left
    .content__left--image
      %img(src= "https://image.tmdb.org/t/p/w200/#{post.poster_path}" alt= "poster")
  .content__right
    .content__right__top
      = link_to  post_path(post.id), class: "content__right__top--title" do
        = post.title
  .content__right__bottom
    .content__right__bottom--userName
      = post.user.name
    .content__right__bottom--date
      = post.created_at
