.content__title
  = "#{@title}のレビュー"

.form
  = form_for [@post] do |f|
    = f.text_field :title, class: 'form__title', placeholder: 'タイトル' 
    #star
      = f.label :rate,'評価'
      = f.hidden_field :rate, id: :review_star

    = f.text_area :content, class: 'form__text', placeholder: 'ブログ本文'
    = f.hidden_field :poster_path, :value => @poster_path
    = f.hidden_field :movie_id, :value => @movie_id
    = f.submit '投稿する', class: 'form__btn'

= render "starrate"